@font-face {
  font-family: "Consolas";
  src: url("fonts/consola.ttf");
}

body {
  font-family: Consolas;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
div {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}

.header {
  margin-top: 22px;
  position: relative;
}

.header ul {
  margin: 11px 0;
  padding: 0;
  flex-flow: row;
  justify-content: center;
}

.header ul li {
  margin: 0 20px;
  cursor: pointer;
  list-style: none;
  font-size: 16px;
  text-align: left;
  color: #333333;
}

.logo {
  position: absolute;
  left: 20px;
  height: 100%;
  z-index: 2;
}

.contact-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 174px;
  height: 100%;
  border: 2px solid #e8332f;
  border-radius: 2px;
  box-sizing: border-box;
  background: transparent;
  color: #e8332f;
  align-items: center;
  justify-content: center;
}

.contact-btn .contact-btn-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20%;
  left: 5%;
  border: 2px solid #e8332f;
  border-radius: 2px;
  background: #e8332f;
  opacity: 0.3;
  transition: 0.6s;
}

.contact-btn:hover .contact-btn-bg {
  top: 0;
  left: 0;
  transition: 0.6s;
}

.menu-btn {
  background-image: url(img/menu.svg);
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
  width: 40px;
  background-repeat: no-repeat;
  background-size: 106%;
}


.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  background-color: #1b2331;
  font-size: 14px;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer-container {
  position: relative;
  display: flex;
  flex-flow: column;
  margin-top: 41px;
  margin-bottom: 47px;
}

.footer-container .contacts {
  display: flex;
}

.footer-container > p {
  padding: 0;
  margin: 0 0 35px 0;
  font-size: 24px;
  line-height: 24px;
}

.footer-container .contacts > p, .footer-container .copyrights {
  margin: 0;
  padding-right: 46px;
  line-height: 26px;
}

.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background img {
  position: relative;
  width: 140%;
  right: 600px;
  padding-bottom: 200px;
}

.img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 100px 0;
}

.img1 {
  background-image: url("img/фон1.svg");
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: "FlipH";
  -ms-filter: "FlipH";
}

.img2 {
  background-image: url("img/фон2.svg");
}

.img3 {
  background-image: url("img/фон3.svg");
}

@media all and (min-width: 1500px) {
  #main,
  .header,
  .footer-container {
    width: 1212px;
  }

  .header {
    height: 44px;
  }
}

@media (max-width: 1500px) and (min-width: 1000px) {
  #main,
  .header,
  .footer-container {
    width: 938px;
    flex-flow:row;
    flex-wrap: wrap;
  }

  .header {
    height: 40px;
  }
}

@media (min-width: 1000px) {
  #main{
    flex-flow: row;
    flex-wrap: wrap;
    display: flex;
  }
  .menu-btn {
    display: none;
  }

  .header ul {
    display: flex;
  }

  .contact-btn {
    display: flex;
  }

  .section{
    flex-flow: column;
    width: 25%;
  }

  .footer-container .contacts {
    flex-flow: row;
  }

  .footer .copyrights {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 1000px) {
  #main {
    width: 100%;
  }

  .menu-btn {
    cursor: pointer;
    z-index: 1;
  }

  .menu-btn:hover + ul,
  .header ul:hover {
    display: block;
  }

  .header ul {
    position: absolute;
    margin: 0px;
    padding-top: 80px;
    width: 100%;
    background-color: #ffffff;
  }

  .header ul li {
    padding: 14px 0 14px 26px;
    margin: 0;
  }

  .section .text-container,
  .footer-container {
    width: 90%;
  }

  .header {
    margin: 22px 0 49px 0;
    height: 40px;
    width: 100%;
    background: white;
  }

  .header ul {
    display: none;
  }

  .contact-btn {
    display: none;
  }

  .section {
    flex-flow: column;
    align-items: center;
    padding: 30px;
  }

  .section .text-container img {
    display: none;
  }

  .footer-container .contacts {
    flex-flow: column;
  }
}

.section{
  padding: 30px 0;
  padding-right: 30px;
  box-sizing: border-box;
}

#main{
  padding: 50px 25px;
  box-sizing: border-box;
  padding-right: 0;
}

.img-container{
  height: 100px;
  display: flex;
  align-items: center;
  padding-bottom: 70px;
}

.footer-container{
  padding:0  25px ;
  box-sizing: border-box;
}

